<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/styles.css">
  </head>

    <body>
      <div class="box" id="heading">
        <h1><%= weekDay %> </h1>
      </div>

      <div class="box">
        <% for(var i = 0; i < newTask.length; i++) {%>
          <div class="item">
          <input type="checkbox" name="" value="">
          <p> <%= newTask[i] %> </p>
          </div>
        <%}%>
        <form class="" action="/work" method="post">
          <input type="text" name="task" value="" placeholder="New Task">
          <button type="submit" name="submit"> + </button>
        </form>
      </div>

    </body>

</html>
